<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Update the VS 2012 build area</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>60</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MODE</name>
          <description>specify release or debug build</description>
          <defaultValue>needOne</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <customWorkspace>d:\ansysdev\git\vs12${MODE}</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>#!d:\cygwin\bin\bash

if [ &quot;${MODE}&quot; == &quot;needOne&quot; ]; then
  echo &quot;ERROR: need a mode (release/debug) value, current is ${MODE}&quot;
  exit 1
fi

echo &quot;updating view for ${MODE} build&quot;
echo &quot;pwd: &quot;
pwd
echo &quot;whoami: &quot;
whoami
echo
echo &quot;ENV: &quot;
echo
env
echo
i=&quot;0&quot;
while [ $i -lt 5 ] ; do
	((i++))
    echo &quot;INFO: attempt number $i&quot;
    echo &quot;Killing any zombie git exe&apos;s&quot;
    if ! ~/scripts/killProcessByNameRegex -k &quot;^git-.*exe|^git\.exe|^ssh\.exe&quot;; then
        echo &quot;Warning: killProcessByNameRegex failed...&quot;
    fi
    echo &quot;Killing zombie rm processes&quot;
    if ! ~/scripts/killProcessByNameRegex -k &quot;^rm\.exe&quot;; then
        echo &quot;Warning: killProcessByNameRegex failed...&quot;
    fi
    if ~/gitScripts/gitClean.pl; then
        echo &quot;git clean completed successfully&quot;
        if [ -d 3rdparty ]; then
            echo &quot;Removing 3rdparty...&quot;
            rm -r 3rdparty
            echo &quot;Removed 3rdparty...&quot;
        fi
        # need to limit the parallel stuff as the network doesn&apos;t even reach
        # the level of crap. same goes for the POS TFS servers....
        if ~/gitScripts/gitUpdate --noxmessage  --no3rdparty -j 2; then                                      
            echo &quot;git update completed successfully after $i attempt(s)&quot;                                      
            i=&quot;99&quot;                                                                        
        fi                                                                                
    fi
    if [ $i -lt 50 ]; then
        echo &quot;git update attempt number $i FAILED&quot;
        ~/scripts/killProcessByNameRegex -k &quot;^git-.*exe|^git\.exe|^ssh\.exe&quot;
        ~/scripts/killProcessByNameRegex -k &quot;^rm\.exe&quot;
        sleep 10
    fi
done
if [ $i -lt 50 ]; then
    echo &quot;FAIL: update failed $i times&quot;
    exit 1
else
    echo &quot;SUCCESS: update was successful&quot;
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.61">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$MODE $DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$MODE $DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <postsendScript></postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.35.2">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>MODE=$MODE
</properties>
              <textParamValueOnNewLine>false</textParamValueOnNewLine>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
            <hudson.plugins.parameterizedtrigger.NodeParameters/>
          </configs>
          <projects>Update3rdParty</projects>
          <condition>UNSTABLE_OR_BETTER</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <triggerFromChildProjects>false</triggerFromChildProjects>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.19">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>120</timeoutMinutes>
      </strategy>
      <operationList>
        <hudson.plugins.build__timeout.operations.FailOperation/>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.9"/>
  </buildWrappers>
</project>